<center><h1>{{title}}</h1>
<p>Welcome to {{title}}</p></center>
<center><form action="/" method="post">
	<h1><label>AC</label><br></h1>
		<button type="submit" class="button button3" name="ac" value="OFF">Off</button>
		<button type="submit" class="button button1" name="ac" value="ON">On</button>
	<h1><label>FAN</label><br></h1>
		<button type="submit" class="button button3" name="fan" value="OFF">Off</button>
		<button type="submit" class="button button1" name="fan" value="ON">On</button>	
	<h1><label>BULB</label><br></h1>
		<button type="submit" class="button button3" name="bulb" value="OFF">Off</button>
		<button type="submit" class="button button1" name="bulb" value="ON">On</button>	
	<h1><label>COOLER</label><br></h1>
		<button type="submit" class="button button3" name="cooler" value="OFF">Off</button>
		<button type="submit" class="button button1" name="cooler" value="ON">On</button>	
</form></center>