<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>IOT</title>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" id="nav">
      <a class="navbar-brand" href="#">IOT HOME AUTOMATION</a>
    </nav>

    <main role="main" class="container" id="con">
      <div class="jumbotron">
      	{{{body}}}
      </div>
    </main>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
